*{
	box-sizing: border-box;
}

body{
	text-align: center;
	font-size: 24px;
	line-height: 40px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: blue; 
}

h2{
    font-weight: 600; 
}

h3{
    font-weight: 800;
}

p{
    font-size: 22px;
    font-weight: 600;
    text-align: left;
}

#title {
    margin-top: 5px;
}

#container {
    position: relative;
    z-index: 1;
    border: 5px solid red;
}

#container .background {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../images/usflag.jpg') center center;
    background: width=100%;
    opacity: .3;
    width: 100%;
    height: 100%;
}

.letter {
    width: 40px;
    height: 40px;
    border-style: solid;
    padding-bottom: 5px;
    float: left;
    margin: 2px;

}

.letter:hover {
  background: lightsalmon;
}

.letter-button-color {
    color: darkcyan;
}

#sidecolumn{
    text-align: left;
}

#buttons {
    margin-left: 60px;
    margin-right: 40px;
    margin-top: 30px;
    text-align: center;
    background: lightblue;
}


input[type=button] {
    background-color: #4aaaa5;
    color: darkblue;
    padding: 10px;
    border: 0 none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: 20px;
}

input[type=button]:hover {
    background-color: lightblue;
}
